body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #918989;
  }
  
  .login-container {
    background: #70c52173;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-container h1 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .login-container input {
    width: 100%;
    padding: 10px 15px;
    box-sizing: border-box;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-container button {
    width: 100%;
    padding: 10px;
    background: #c8ff009c;
    color: rgb(17, 12, 12);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background: #518638;
  }
  
  #status {
    margin-top: 10px;
    color: red;
    font-size: 14px;
  }
  